<head>
    <title>ask485</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<div class="feed">
<body>
<div class="ask485">ask485</div>
<!---------------------Search Bar--------------------->
<div class="search_bar">
<form action="/" method="GET">
  <div><input type="text" name="q"/></div>
  <div>
      <div class="pagerank_weight">Pagerank Weight</div>
      <input type="range" name="w" min="0" max="1" step="0.01" />
  </div>
  <input type="submit" value="Search"/>
</form>
</div>
<div class="docs">
{% if show_search %}
    <!--------------Show Search Results--------------->
    {% if search_results %}
    {% for search_result in search_results %}
        <!--------------Doc URL--------------->
        <a class="doc_url">
            {% if search_result.doc_url %}
                {{ search_result.doc_url }}
            {% else %}
                No url available
            {% endif %}
        </a>
        <!--------------Doc Title------------->
        <div class="doc_title">
            {{ search_result.doc_title }}
        </div>
        <!-------------Doc Summary------------>
        <div class="doc_summary">
            {% if search_result.doc_summary %}
                {{ search_result.doc_summary }}
            {% else %}
                No summary available
            {% endif %}
        </div>
    {% endfor %}
    {% else %}
        <!---------------No Search Results---------------->
        <div class="no_results">No search results found!</div>
    {% endif %}
{%  endif %}
</div>
</body>
</div>